{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Blog{% endblock %}</title>

   
    <link rel="stylesheet" href="{% static 'posts/css/estilos.css' %}">
  
</head>
<body>
    <header>
        <h1>Mi blog</h1>
        <nav>
            <a href="{% url 'inicio' %}">Inicio</a>
            <a href="{% url 'acerca' %}">Acerca de</a>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>Creado con Django</p>
    </footer>
</body>
</html>